body {
    background-color: rgba(107, 104, 103, 0.145);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 20px;
}
.frame {
    background-color: rgb(30, 29, 29);
    border-radius: 35px;
    min-width: 10%; 
    max-width: 350px; 
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.30);
    border: 3px solid rgb(187, 184, 184);
}
.screen {
    display: flex;
    flex-direction: column;
    background-color: rgba(124, 121, 121, 0.541);
    width: 85%;
    margin: 0 auto;
    height: 80px;
    border-radius: 10px;
    border: 1px solid rgb(123, 119, 119);
    padding-left: 20px;
    overflow: hidden;
}
#result,
#operation {
    color: white;
    background-color: transparent;
    border: none;
    max-width: 90%;
    text-align: right;
    padding: 0;
    cursor: default;
    font-size: 24px;
}
.number-zero {
    width: 100px;
}
.buttons {
    overflow: hidden;
}
.butn {
    background-color: #6a6b6bb1;
    color: white;
    border: none;
    font-size: 20px; 
    border: 1px solid rgb(0, 0, 0);
}
.butn-orange {
    background-color: orange;
    border: 1px solid #f5deb3;
}
.butn-white {
    background-color: rgb(211, 211, 209);
    margin-right: 5px;
}
.butn-red {
    background-color: rgb(245, 129, 98);
    border: 1px solid rgb(244, 196, 183);
}
.butn-white,
.butn-orange,
.butn-red {
    font-size: 20px;
}
.butn-orange:hover {
    background-color: orange !important;
    color: white !important;
}
.butn-red:hover {
    background-color: rgb(245, 129, 98) !important;
    color: white !important;
}
.btn:hover {
    transform: scale(1.09);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
    color: #0a0b0ba8;
    background-color: white;
}