body {
    background-color: rgba(107, 104, 103, 0.145);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
 img {
    width: 20%;
}
.frame {
    background-color: white;
    border-radius: 10%;
    max-width: 80%;
    box-shadow:  5px 6px rgba(30, 30, 29, 0.101);
}  
h1 {
    color: #3d210b;
}
.info {
    color: #352b1cba;
}
#num1 {
    max-width: 150px;
    border: 1px solid #be965abf;
    max-height: 40px;
}
#num2 {
    max-width: 130px;
    border: 1px solid #be965abf;
    max-height: 40px;
}
#operation {
    max-width: 110px;
    border: 1px solid #be965a62;
    max-height: 40px;
    background-color:  #be965a51;
    color: #352b1cba;
}
.butn {
    background-color:  #be965a2a;
    border: 1px solid #be965a62;
    color: #352b1cba;
}
.btn:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    color: #352b1cba;
    background-color: #be965a2c;
    opacity: 0.8;
    border: none;
}
.butn:focus {
    background-color: #be965a56 !important; /* Darker green color when active or clicked */
    color: rgb(111, 73, 17) !important;
    border: none !important;
}
.calc {
    background-color:  #be965a51;
    color: #352b1cba;
    max-height: 40px;
    padding: 5px;
    width: 50%;
    margin: auto;
    border: 1px solid #be965a2c;
}
.calc:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    color: #be965a2c;
    background-color: #be965a2c;
    color: #352b1cba;
    opacity: 0.8;
    border: none;
}
.result {
    display: none;
    background-color: rgba(200, 180, 138, 0.119);
    padding: 8px;
    width: 90%;
    margin: auto;
    color: #352b1cba;
}
.again {
    display: none;
    background-color:  #be965a51;
    color: #352b1cba;
    max-height: 40px;
    padding: 5px;
    width: 50%;
    margin: auto;
    border: 1px solid #be965a2c;
}
input {
    background-color: rgba(173, 216, 230, 0.376);
}

